<div class="main_about">
    <div class="banner_about">
        <img loading="lazy" width="auto" height="auto" src="{{ 'banner_about.jpg' | asset_img_url: ''}}">
    </div>
    <section class="main_content">
        <div class="cont1">
            <img loading="lazy" width="auto" height="auto" src="{{ 'about_1.jpg' | asset_img_url: ''}}">
            <div class="texto1">
                <h2>Bomba Estéreo</h2>
                <p>was founded in Colombia in 2006 by musician Simón Mejía and singer Li Saumet. Together, they created a unique project that would become one of the most at- tractive music groups in the world. Throughout its career, Bomba Estéreo has toured all over the world, playing the stages of some of the most important music festivals, clubs and venues, and attracting millions of people to its eclectic avant-garde fusion of electronic and Caribbean sounds.</p>
            </div>
            <div class="texto2">
                <p>Bomba Estéreo has been nominated to The GRAMMYs two times with their albums ‘Amanecer’ and ‘Ayo’, and has also been nominated to six Latin GRAMMYs, where in 2015 the band performed ‘Fiesta’ at the ceremony’s main show with Hollywood star Will Smith. In 2017, Bomba Estéreo was invi - ted to tour as support for Arcade Fire’s Everything Now World Tour doing 13 shows together across Europe, USA and Latin America. In 2018, Bomba Estéreo reached the worldwide Top 500 most listened on Spotify.</p>
                <p>On 2021 the band has released their latest album “Deja”. The album inspired by nature was presented in four mo - ments, represented by the elements “Agua” (Water), “Aire” (Air), “Tierra” (Earth), “Fuego”(Fire) and has been nominated as Best Latin Rock or Alternative Album at the 2022 Grammy Awards.</p>
            </div>
            <img loading="lazy" width="auto" height="auto" src="{{ 'about_2.jpg' | asset_img_url: ''}}">
        </div>
    </section>
    <br><br><br><br>
    <div class="banner_about">
        <img loading="lazy" width="auto" height="auto" src="{{ 'about_midle.jpg' | asset_img_url: ''}}">
    </div>
    <section class="main_content">
        <h3>The Band</h3>
        <div class="cont2">
            <div class="per">
                <img loading="lazy" width="auto" height="auto" src="{{ 'about_3.jpg' | asset_img_url: ''}}">
                <h4>JAIME</h4>
                
            </div>
            <div class="per">
                <img loading="lazy" width="auto" height="auto" src="{{ 'about_4.jpg' | asset_img_url: ''}}">
                <h4>PACHO</h4>
                
            </div>
            <div class="per">
                <img loading="lazy" width="auto" height="auto" src="{{ 'about_5.jpg' | asset_img_url: ''}}">
                <H4>JOSE</H4>
                
            </div>
            <div class="per">
                <img loading="lazy" width="auto" height="auto" src="{{ 'about_6.jpg' | asset_img_url: ''}}">
                <H4>LI</H4>
                
            </div>
            <div class="per">
                <img loading="lazy" width="auto" height="auto" src="{{ 'about_7.jpg' | asset_img_url: ''}}">
                <H4>SIMON</H4>
                
            </div>
        </div>
    </section>
</div>
<style>
    .header_bombaestereo{position:initial; background:#774A89}
    .footer_bombaestereo{margin-top:0}
</style>